<h1><%= title %></h1>

<button id="bump">bump me</button>

<script>GAME_ID = '<%= title %>';</script>
<script src="/public/bower_components/socket.io-client/dist/socket.io.js"></script>
<script src="/public/build/client-connection.js"></script>
