extends layout

block page-styles
	link(rel="stylesheet", href="/public/styles/home.css")

block content
	main
		h1= title

		if user
			//- h2= 'Hello, ' + user.name
			div(class="box")
				img(src=user.image, width="48", height="48")
				a(href="/lobby") Go to Lobby
		else
			a(class="sign-in", href="/auth/twitter") Sign in with Twitter
