<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>Game</title>
	<link rel="stylesheet" href="/public/bower_components/normalize-css/normalize.css">
</head>
<body>
	<%- body %>
</body>
</html>
