extends layout

block page-styles
	link(rel="stylesheet", href="/public/styles/lobby.css")

block content
	main
		if user
			h2= 'Hello, ' + user.name
			img(src=user.image)

		h2 Available Games
		table
			thead
				tr
					th Name
					th Players
			tbody
				for game in games
					tr
						td: a(href="game/#{game.hash}")= game.name
						td= game.players + '/' + game.max

		a(href="/newgame", class="new-game") New game
