h1{
	color: white;
	font-size: 2.8em;
}
main{
	text-align: center;
}
.sign-in{
	display: inline-block;
	width: 189px;
	padding: 15px 0;
	border-radius: .25rem;
	background-color: #67E2FE;
	background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
	color: white;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	text-decoration: none;
}

.box{
	display: -webkit-box;
	-webkit-box-align: center;
	overflow: hidden;
	width: 189px;
	border-radius: .25rem;
	background-color: #67E2FE;
	background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
	margin: 0 auto;
}
.box img{
	display: block;
}
.box a{
	padding-left: 25px;
	color: white;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	text-decoration: none;
}
